html {

  .topnav {
    background-color: #003F91;
    overflow: hidden;
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 100px;
    width: 60%;
    justify-self: center;
    border-radius: 30px;
  }

  .topnavtext {
    display: inline-block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .topnav a {
    float: left;
    color: #E5F4E3;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    padding: 14px 16px 14px;
    border-radius: 23px;
    text-decoration: none;
    font-size: 17px;

  }


  .topnav a:hover {
    background-color: #5DA9E9;
    color: #6D326D;
    font-weight: bolder;
  }


  .topnav a::before {
    content: '';
    display: block;
    border-radius: 3px;
    height: 5px;
    background-color: #E5F4E3;

    position: relative;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
  }

  .topnav a:hover::before {
    width: 100%;
  }

  body {
    background-image: url("Images/bckgrnd7.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat: repeat-y;
    background-color: #cccccc;
  }

  .container {
    background-color: #FFEBE7;
    width: 60%;
    justify-self: center;
    box-shadow: 10px 5px 5px #003F91;
    border-radius: 40px;
    padding: 5%;
    margin: 75px;
    margin-bottom: 20px;
  }

  .content {
    line-height: 1.5;
    max-inline-size: 85%;
    writing-mode: horizontal-tb;
    margin-left: 5%;
    font-family: "Red Hat Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-self: center;
  }

  h1 {
    color: #2E0014;
    font-family: "Ephesis", serif;
    font-weight: 700;
    font-size: 70px;
    font-style: normal;
    margin: 10px;
    justify-self: center;
  }

  h2 {
    color: #6D326D;
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    color: #6D326D;
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  p {
    color: black;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    justify-self: center;

  }

  li {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #4D7298;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 7px;
    list-style-type: none;
    justify-content: center;
  }

  ul li:nth-child(odd) {
    background: #37526d;
  }

  ul li:hover {
    background: #1a2633;
  }

  ul li.checked {
    background: #3c444c;
    color: #FFEBE7;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 15px;
    margin-left: -20px;
    width: 7px;
  }

  img {
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    background-color: #4D7298;
    color: #FFEBE7;
    border-color: #003F91;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button:hover {
    background-color: #37526d;
  }

  form {
    justify-self: center;

  }

  input {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    background-color: #4D7298;
    border-color: #003F91;
    border-radius: 5px;
    color: #FFEBE7;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ::placeholder {
    color: #FFEBE7;
  }

  textarea::placeholder {
    color: #2E0014;
  }

  span {
    float: right;
    margin-right: 5px;
  }

  span.edit {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFEBE7;
    margin-right: 20px;
  }

  textarea {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    border-radius: 5px;
    border-width: 15px;
    border-color: #4D7298;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #notes {
    display: "none";
  }

  #date, #time {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .selections {
    background-color: #cdd9f3;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(184, 184, 236, 0.2);  
    border-right: 5px solid #6D326D;
    border-left: 5px solid #6D326D;
    border-top: 5px solid #6D326D;
    border-bottom: 5px solid #6D326D;
  }

}